ul{
	
}
a{
	background-color:white;
	display:inline-block;
	width:400px;
	text-decoration: none;
	margin: 0 0 0 10px;
/* 	margin:20px; */
}
.all{
	background-color:#cccccc;
}
.player_one{
background-color:#cccccc;
}
.player_two{
/* 	padding:0px; */
	border:10px solid white;

	text-align:center;
	padding:0px;
	margin:0 100px 5px 100px;
	display:inline-block;
	background-color:#cccccc;
}
p{
	text-align:left;
}
img{
	height:200px;
	width:200px;
}
h2{
	text-align:center;
}